

body{
    margin: 0
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

header {
    background-color: #006d8f;
    color: #FFF;
}

h1{
    font-size: 60px;
    text-align: center;
    padding: 30px;
    /* margin: 20px; */
    
}


.btn:hover, .btn:focus {
    background: #D4B44C;
    color: #2E354F;
}

.searchColumn{
    
    background-color: #b5b3ff
    margin: 25px; 
}

.todaysWeather, .forecast{
    
    margin: 10px 25px;
    border-radius: 5px;
    background-color: #dff5e4;
}


#uv-low{
    background-color: #438a71;
}

#uv-high{
    background-color: #e60751;
}